{% extends ':Form:fields.html.twig' %}

{% macro widget_prototype(widget, remove_text) %}
{% spaceless %}
    {% from 'MopaBootstrapBundle::icons.html.twig' import icon %}

    {% if widget.get('prototype') %}
        {% set form = widget.get('prototype') %}
        {% set name = widget.get('prototype').get('full_name') %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.get('full_name') %}
    {% endif %}

    <div class="well well-small" data-content="{{ name }}">
        <button class="btn btn-remove btn-danger btn-small pull-right" data-related="{{ name }}">{{ icon('minus', true) }} {{ remove_text }}</button>
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endmacro %}
