{% extends '::base.html.twig' %}

{% block content_layout %}
{% embed ':Layout:content_center_no_sidebar.html.twig' %}
    {% from ':macros:bootstrap.html.twig' import icon %}
    {% from ':macros:form.html.twig' import form_open, form_close %}

    {% block content %}
        {{ form_open(form, path('login_check')) }}
            {{ form_errors(form) }}

            <fieldset>
                {{ form_row(form) }}
            </fieldset>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ icon('signin') }} {{ 'Login'|trans }}</button>
            </div>
        {{ form_close(form) }}
    {% endblock %}
{% endembed %}
{% endblock %}
