{% extends '::base.html.twig' %}

{% from ':macros:form.html.twig' import form_open, form_close %}

{% trans_default_domain "registration" %}

{% block content_layout %}
<div class="row-fluid">
    {{ form_open(form, path('registration'), 'form-horizontal well well-small span6 offset3') }}
        {{ form_errors(form) }}

        <fieldset>
            {% if 1 == flow.currentStep %}
                {% set key = 'address' %}
            {% endif %}
            {% if 2 == flow.currentStep %}
                {% set key = 'account' %}
            {% endif %}
            {% if 3 == flow.currentStep %}
                {% set key = 'confirmation' %}
            {% endif %}

            <legend>{{ ('legend.'~key)|trans }}</legend>

            {% for widget in form[key] %}
                {{ form_row(widget) }}
            {% endfor %}
        </fieldset>

        {% include 'CraueFormFlowBundle:FormFlow:stepField.html.twig' %}

        {{ form_rest(form) }}

        <div class="form-actions">
            {% include ':Registration:buttons.html.twig' %}
        </div>
    {{ form_close(form) }}
</div>
{% endblock %}
